.table-view {
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
	-fx-padding: 20px;
}

.table-view .column-header {
	-fx-background-color: #4c89c7;
	-fx-pref-height: 40px;
}

.table-view .column-header .label {
	-fx-text-fill: white;
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-padding: 5px;
}

.table-view .table-cell {
	-fx-border-width: 0;
}

.table-row-cell {
	-fx-background-color: white;
	-fx-border-color: #c9c9c9;
	-fx-border-width: 0 0 1 0;
	-fx-border-style: solid;
	-fx-font-size: 12;
	-fx-padding: 5, 5, 5, 5;
}

.table-row-cell:hover {
	-fx-background-color: #e4e4e4;
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

.table-row-cell:selected {
	-fx-background-color: #bababa;
	-fx-text-fill: black;
	-fx-font-weight: bold;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
	-fx-opacity: 0;
}

.table-view .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #4c89c7;
    -fx-opacity: 25%;
}